# Dependencias
node_modules/
**/node_modules/

# Next.js y Build
.next/
**/dist/
build/
out/

# Entorno y Secretos
.env*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Firebase
.firebase/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*

# Vercel y Otros
.vercel
.DS_Store
*.pem